<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cs.dit.mapper.BoardMapper">
<select id ="getList" resultType="cs.dit.domain.BoardVO">
      select bno, title, content, writer, regdate, updatedate
       from board order by bno desc;
   </select>
   
   <insert id="insert">
      insert into Board(title,content,writer)
      values(#{title},#{content},#{writer});
   </insert>
   
   <select id="read" resultType="cs.dit.domain.BoardVO">
      select * from board where bno = #{bno}
   </select>
   
   <delete id ="delete">
      delete from board where bno = #{bno}
   </delete>
   
   <update id ="update">
      update board set title = #{title},
      content = #{content},writer = #{writer},
      updateDate = now()
      where bno = #{bno}
   </update>
</mapper>